.field-text {
  background-color: rgba(255, 0, 0, 0);
  border: 0.5px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px;

  min-width: 200px;
  height: 32px;
  margin: 0;
}
