@mixin primary {
  color: var(--light);
  background-color: var(--accent);
}

@mixin warning {
  color: var(--light);
  background-color: var(--warn);
}

@mixin secondary {
  color: var(--accent);
  background-color: var(--light);
}

.button {
  & {
    position: relative;
    transition: top 1s ease-out 500ms, filter 300ms ease-out;

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    text-align: center;

    // flex-basis: 100%;
  }
  &_small {
    padding: 5px 10px;
  }
  &_normal {
    padding: 8px 16px;
  }
  &_primary {
    @include primary;
  }
  &_secondary {
    @include secondary;
  }
  &_warning {
    @include warning;
  }
  &:disabled,
  &[disabled] {
    background-color: #eeeeee;
    color: #9c9c9c;
  }
  &_hover:hover {
    top: -4px;
    &:disabled,
    &[disabled] {
      top: 0;
    }
  }
  &_active:active {
    filter: brightness(150%);
  }
}
