.label {
  font-size: 14px;
  line-height: 16px;
  color: var(--dark);
  background-color: rgba(255, 0, 0, 0);

  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;

  margin: 0 4px;
}
