<app-navigation [authorized]="true"></app-navigation>
<main>
  <h1>Your Games Library</h1>
  <p>App-Component</p>
  <app-field-text-labeled></app-field-text-labeled>
  <app-field-text-labeled title="FirstName" type="text" placeholder="FirstName"></app-field-text-labeled>
  <app-field-text-labeled title="Email" type="email" placeholder="Your Email"></app-field-text-labeled>
  <app-field-text-labeled title="Age" type="number" placeholder="Your Age"></app-field-text-labeled>
  <app-button colorScheme="warning">Click</app-button>
  <app-button colorScheme="secondary">Cancel</app-button>
  <app-button>MyButton</app-button>
  
  <app-form title="Profile" buttonText="Submit" (appSubmit)="onSubmit()">
    <app-field-text-labeled title="FirstName" type="text" placeholder="FirstName" [(value)]="formInput.name"
      [required]="true">
    </app-field-text-labeled>
    <app-field-text-labeled title="Email" type="email" placeholder="Your Email" [(value)]="formInput.email"
      [required]="true">
    </app-field-text-labeled>
    <app-field-text-labeled title="Age" type="number" placeholder="Your Age" [(value)]="formInput.age">
    </app-field-text-labeled>
  </app-form>
  <ng-container *ngIf="isSubmit">
    <h5>User</h5>
    <div>Name: {{user.name}}</div>
    <div>Email: {{user.email}}</div>
    <div>Age: {{user.age}}</div>
  </ng-container>
  <div>
    <app-checkbox-field></app-checkbox-field><br />
    <app-checkbox-field name="games" labelText="Action" value="action"></app-checkbox-field><br />
    <app-checkbox-field name="games" labelText="Indie" value="indie"></app-checkbox-field><br />
    <app-checkbox-field name="games" labelText="Adventure" value="adventure"></app-checkbox-field>
  </div>
  <app-range [defaultMin]="100" [defaultMax]="1000" labelTextSuffix="Price" name="filter-price" [(value)]="filterPrice">
  </app-range>
  <app-card title="Doom Ethernal 1" [price]="250" currencyCode="UAH">
    <p class="card-description">
      Hell’s armies have invaded Earth. Become the Slayer in an epic single-player campaign to conquer demons across
      dimensions and stop the final destruction of humanity. The only thing they fear... is you.
    </p>
    <app-button colorScheme="primary" class="card-button">Add to library</app-button>
    <!-- <app-button colorScheme="primary" class="card-button">Download</app-button>
    <app-button colorScheme="secondary" class="card-button">Share</app-button> -->
  </app-card>
  <app-form-search title="Search Friends"></app-form-search>
  <router-outlet></router-outlet>
</main>