<app-navigation [authorized]="false"></app-navigation>
<main>
  <h1>Your Games Library</h1>
  <p>App-Component</p>
  <app-field-text-labeled></app-field-text-labeled>
  <app-field-text-labeled title="FirstName" type="text" placeholder="FirstName"></app-field-text-labeled>
  <app-field-text-labeled title="Email" type="email" placeholder="Your Email"></app-field-text-labeled>
  <app-field-text-labeled title="Age" type="number" placeholder="Your Age"></app-field-text-labeled>
  <app-button colorScheme="warning">Click</app-button>
  <app-button colorScheme="secondary">Cancel</app-button>
  <app-button>MyButton</app-button>
  <app-block-filter></app-block-filter>
  <app-form title="Profile" buttonText="Submit" (appSubmit)="onSubmit()">
    <app-field-text-labeled title="FirstName" type="text" placeholder="FirstName" [(value)]="name">
    </app-field-text-labeled>
    <app-field-text-labeled title="Email" type="email" placeholder="Your Email" [(value)]="email">
    </app-field-text-labeled>
    <app-field-text-labeled title="Age" type="number" placeholder="Your Age" [(value)]="age"></app-field-text-labeled>
  </app-form>
  <ng-container *ngIf="isSubmit">
    <h5>User</h5>
    <div>Name: {{name}}</div>
    <div>Email: {{email}}</div>
    <div>Age: {{age}}</div>
  </ng-container>
  <div>
    <app-checkbox-field></app-checkbox-field><br />
    <app-checkbox-field name="games" labelText="Action" value="action"></app-checkbox-field><br />
    <app-checkbox-field name="games" labelText="Indie" value="indie"></app-checkbox-field><br />
    <app-checkbox-field name="games" labelText="Adventure" value="adventure"></app-checkbox-field>
  </div>
  <app-range-labeled-field labelTextSuffix="Price"></app-range-labeled-field>
  <router-outlet></router-outlet>
</main>