<app-navigation [authorized]="false"></app-navigation>
<main>
  <h1>Your Games Library</h1>
  <p>App-Component</p>
  <app-field-text-labeled></app-field-text-labeled>
  <app-field-text-labeled title="FirstName" type="text" placeholder="FirstName"></app-field-text-labeled>
  <app-field-text-labeled title="Email" type="email" placeholder="Your Email"></app-field-text-labeled>
  <app-field-text-labeled title="Age" type="number" placeholder="Your Age"></app-field-text-labeled>
  <app-button colorScheme="warning">Click</app-button>
  <app-button colorScheme="secondary">Cancel</app-button>
  <app-button>MyButton</app-button>
  <app-block-filter></app-block-filter>
  <app-form-data-driven></app-form-data-driven>
  <app-form-data-driven [formModel]="form" (submit)="values = $event"></app-form-data-driven>
  <ng-container *ngFor="let value of values; let i = index">
    <div>Value {{i}}: {{value}}</div>
  </ng-container>
  <router-outlet></router-outlet>
</main>