<app-navigation class="profile-page__navigation" [authorized]="true"></app-navigation>

<app-form class="profile-page__form" title="Profile" buttonText="Save" (appSubmit)="onSubmit()">
  <app-field-text-labeled title="Username" type="text" placeholder="Your Email" [(value)]="formInput.username"
    [required]="true">
  </app-field-text-labeled>
  <app-field-text-labeled title="Email" type="email" placeholder="Your Email" [(value)]="formInput.email"
    [required]="true">
  </app-field-text-labeled>
  <app-field-text-labeled title="Age" type="number" placeholder="Your Password" [(value)]="formInput.age"
    [required]="true">
  </app-field-text-labeled>
</app-form>