:host {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  background-color: var(--neutral);
  height: 100%;
  position: relative;
}

.login-page {
  &__navigation {
    position: fixed;
    width: 100%;
    top: -50px;
    left: 0;
    z-index: 1;

    transition: top 400ms ease-out 150ms;
    &:hover {
      top: 0;
    }
  }
  &__form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
